*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
}
body{
    display: flex;
    justify-content: center;
    background-color: white;
}
.card{
    border: 2px solid none;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height:100dvh ;
}
#expression{
    display: flex;
    font-size: 3rem;
    padding: 15px;
    justify-content: flex-end;
    align-items: flex-end;
    height: 15rem;
    background-color: #77909d;
    color: white;
}
.result{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height:13dvh;
}
.items{
    padding:1rem;
    color:black;
    border-width:0.8px ;
    border-color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd ;
    font-size: 17px;
}
button{
    padding: 10px 5px 10px 5px;
    width: 100%;
}
 .operator{
    background-color:rgb(250, 116, 7) ;
    color: black;
} 

 
